@import "src/Assets/Scss/variables.scss";

.projects-view {
  display: flex;
  justify-content: center;

  section {
    background: var(--primary-color);
    padding: 20px;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    margin: 20px;
    width: 350px;
    
    h1 {
        text-decoration: underline;
        color: var(--secondary-color);
    }

    .projects {
        .project {
            width: 100%;
            text-align: left;
            padding: 5px;
            margin-bottom: 5px;
            border-bottom: 2px dotted var(--secondary-color);

            span, h3 {
                color: var(--secondary-color);
            }

            .stack {
                ul {
                    display: flex;
                    justify-content: left;
                    list-style-type: none;

                    li {
                        margin-right: 10px;
                        padding: 2px;
                        background: var(--secondary-color);
                        border-radius: 5px;
                        color: var(--primary-color);
                    }
                }
            }

            .links {
                a {
                    color: var(--secondary-color);
                    font-size: 18pt;
                }
            }
        }
    }
  }
}
