@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
html {
  --primary-color: white;
  --secondary-color: #1a1919; }

html[data-theme="dark"] {
  --primary-color: #1a1919;
  --secondary-color: white; }

body {
  background: var(--primary-color);
  font-family: "Roboto Mono", monospace;
  background-image: radial-gradient(var(--secondary-color) 10%, transparent 0), radial-gradient(var(--secondary-color) 10%, transparent 0);
  background-size: 5px 5px;
  background-position: 0 0, 15px 15px; }

.about-view {
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  width: 100%; }
  .about-view section {
    background: var(--primary-color);
    padding: 20px;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    margin: 25px;
    width: 350px; }
    .about-view section h1, .about-view section h3 {
      text-decoration: underline; }
    .about-view section p {
      text-align: left;
      border-bottom: 2px dotted var(--secondary-color);
      padding-bottom: 15px; }
      .about-view section p .bold {
        font-weight: bold;
        text-decoration: underline;
        color: inherit; }
      .about-view section p ul {
        list-style-type: square; }
        .about-view section p ul li {
          font-weight: bold; }
    .about-view section img {
      filter: grayscale(100%);
      width: 100%;
      transition: .3s all;
      border-radius: 5px; }
    .about-view section img:hover {
      filter: none; }
