@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:700&display=swap");
html {
  --primary-color: #1a1919 !important;
  --secondary-color: white !important;
  background: var(--primary-color);
}
html[data-theme="dark"] {
  --primary-color: #1a1919 !important;
  --secondary-color: white !important;
  background: var(--primary-color);
}
body {
  background: var(--primary-color);
  opacity: 80%;
  font-family: "Roboto Mono", monospace;
  min-height: 100vh;
}
